html, body{
    height: 100%;
    width: 100%;
}
.navBar{
    background-color: #232f3e;
        height: 60px;
        width: 100%;
       display: flex;
}
.logo img{
    height: 40px;
    width: 160px;
    margin-left: 30px;
    margin-top: 10px;
}

.location{
    margin-left: 25px;
    display: flex;
    
}
.location img {margin-top: 10px;
    height: 30px;
    width: 40px;
    
    
 
}
.location div{margin-top: 10px;
    color: white;
}

h5 { line-height: 0px;}

h3 { line-height: 0px;
}
    
.searchbar input { 
    width: 400px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    

}
.searchbar{display: flex;}
.searchbar select{
                   width: 40px;
                   height: 40px;
                   border-radius: 5px 0px 0px 5px;
                   margin-right: -15px;
                   margin-top: 10px;
                   margin-left:5px ;
                   border: none;
                   outline: none;
                   
}

.serchicon { width:40px ;
            height:40px ;
            margin-top: 10px;
            background-color:#ff9900;
            border-radius:0px 5px 5px 0px ;
            

}
.serchicon img{ width: 25px;
                height: 25px;
                margin-top:8px;
                margin-left: 5px;}

.country_selected  select{
                width: 40px;
                height:40px ;
                margin-top: 10px;
                margin-left: 5px;
                color: black;
                outline: none;
                background-color: transparent;
                color: white;
}

.country_selected img{
    width: 20px;}

.account{ color: white;}

.return {color: white;}

.cart{ color: white;
    display: flex;}

.cart img { width: 40px;
            height: 40px;
            margin-top: 10px;}

.navBar{ justify-content: space-between;
         padding-right: 70px;}

         .box {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: space-around;
          
          }
          
          .abc{
             height: 300px;
             width: 300px;
             margin-top: 200px;
          }
          
          
          
          .box1{
             background-color: blueviolet;
            
             
          }
          .box2{
             /* background-color:crimson; */
          }
          .box3{
             background-color: blueviolet;
          }
          .box4{
             /* background-color: beige; */
          }
          




